.project
.settings/
salesforce.schema
Referenced Packages
src/objects/OpportunityContactRole.object
src/objects/OpportunityLineItem.object
src/objects/PartnerRole.object
src/objects/Product2.object
src/objects/Site.object
src/objects/SocialPersona.object
src/objects/Solution.object
src/objects/Task.object
src/objects/User.object
src/objects/UserLicense.object
src/objects/ContentVersion.object
src/objects/Contract.object
src/objects/ContractContactRole.object
src/objects/Event.object
src/objects/Idea.object
src/objects/JigsawSavedSearch.object
src/objects/Account.object
src/objects/AccountContactRole.object
src/objects/Activity.object
src/objects/Asset.object
src/objects/Case.object
src/objects/CaseContactRole.object
src/layouts
src/remoteSiteSettings
.settings
.settings/com.salesforce.ide.core.prefs