#container {
    display: none;
    font-size: 96%;
    margin: 10px auto;
    width: 900px;
}

#container,
#container h1,
#container h2,
#container h3,
#container h4,
#container h5,
#container h6,
#container label,
#container td {
    font-family: "Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
}

#container h3 {
    font-size: 1.2em;
}

div.clear {
    clear: both;
}

/* Grids */
#events,
#attendees,
#campaigns,
#results {
    border: 1px solid #cccccc;
    height: 300px;
    width: 100%;
}

#events-wrapper {
    float: left;
    margin: 0 20px 0 0;
    width: 300px;
}

#attendees-wrapper {
    float: left;
}

#attendees-grid-wrapper,
#campaigns-grid-wrapper,
#results-grid-wrapper {
    position: relative;
    width: 535px;
}

#campaigns-grid-wrapper,
#results-grid-wrapper {
    width: 100%;
}

#campaigns {
    clear: both;
}

.slick-cell {
    border: 0 none transparent !important;
	border-right: 1px solid silver !important;
	border-bottom: 0 none transparent !important;
}

.slick-viewport .even .slick-cell {
    background-color: white;
}

.slick-viewport .odd .slick-cell {
    background-color: #f6f6f6;
}

.slick-viewport .odd .selected,
.slick-viewport .even .selected {
    background-color: #1696bf !important;
    color: white;
}

.grid-search-wrapper {
    margin: 10px 0;
}

/* Forms */
label,
span.form-label {
    font-weight: bold;
    margin-right: 0.75em;
}

.field-wrapper {
    clear: both;
    padding: 0.5em 0 1em;
}

.field-wrapper label,
.field-wrapper span.form-label {
    float: left;
    width: 12em;
}

.field-wrapper .form-field label {
    float: none;
    width: auto;
}

.field-wrapper table label {
    float: none;
    font-weight: normal;
    width: auto;
}

input.text,
.field-wrapper textarea {
    padding: 0.25em 0.5em;
}

.form-field {
    float: left;
}

#container fieldset {
    border: 1px solid #CCCCCC;
    margin-bottom: 1em;
    padding: 0.5em 1em 1em;
    border-radius: 4px;
}

/* Buttons */
#do-login .ui-button,
.tab-controls .ui-button {
    font-size: 1.15em;
}

.ui-buttonset {
    margin: 1em 0;
}

/* Progress bar */
.ui-progressbar {
    height: 22px;
}

#importSection h3 {
    background-image: url(images/pbar-ani.gif);
    background-repeat: no-repeat;
    background-position: -9999px -9999px;
}

.ui-progressbar-value {
    background-image: url(images/pbar-ani.gif);
}

/* Tab controls */
.tab-controls {
    clear: both;
}

.tab-controls input {
    float: right;
}

.tab-controls .button-status {
    float: right;
    margin: 0.5em 1em 0 1em;
}

/* Login tab */
#login-inner {
    margin: 0 auto;
    width: 600px;
}

#login-email-password {
    float: left;
    width: 300px;
}

#login-userkey {
    float: right;
    width: 300px;
}

#do-login {
    clear: both;
}

#authenticate,
#remember-label {
    float: right;
}

#login-inner input[type="text"],
#login-inner input[type="password"] {
    font-size: 1.3em;
}

#email {
    width: 12em;
}

#password {
    width: 10.6em;
}

#remember-label {
    margin-top: 0.5em;
}

/* Events tab */
#events .event-inner {
    background: url("images/status-icons.png") no-repeat scroll 5px 7px transparent;
    padding-left: 25px;
    position: relative;
}

#events .event-live {
    background-position: 5px -45px;
}

#events .event-completed {
    background-position: 5px -94px;
}

#events-status-key {
    margin-top: 5px;
}

#events-status-key h5 {
    display: block;
}

#events-status-key span {
    background: url("images/status-icons.png") no-repeat scroll 0 3px transparent;
    float: left;
    padding: 3px  15px 3px 21px;
}

#events-status-key span.live {
    background-position: 0 -49px;
}

#events-status-key span.completed {
    background-position: 0 -97px;
}

#events .event-inner h4 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

#attendees {
    background-image: url(images/grid-loading.gif);
    background-repeat: no-repeat;
    background-position: -9999px -9999px;
}

.no-close-button .ui-dialog-titlebar-close {
    display: none;
}

.grid-loading .slick-viewport {
    background-image: url(images/grid-loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.label-loading {
    background: transparent url(images/grid-loading.gif) scroll no-repeat right center;
    padding-right: 220px;
}

.hidden-select {
    visibility: hidden;
}

/* Campaign tab */
#campaign-name {
    width: 25em;
}

#campaign-create-wrapper {
    margin: -0.25em 0 0.5em;
    float: right;
    padding: 0;
    position: relative;
    z-index: 20;
}

#campaigns-grid-wrapper {
    position: relative;
    z-index: 10;
}

/* Import tab */
#contact-description {
    width: 400px;
}

/* Results tab */
.summary-hover {
    text-decoration: underline;
}

.summary-hover .ui-icon {
    float: left;
}

/* IE7 Fixes */
*+html #campaign-existing-wrapper,
*+html #results-grid-wrapper {
    float: left;
    width: 857px;
}
